appdirs==1.4.4
async-tkinter-loop==0.1.1
asyncpg==0.29.0
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.13.4
identify==2.5.37
idna==3.7
lxml==5.2.1
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
pandas==2.2.2
platformdirs==4.2.0
pre-commit==3.7.0
psycopg2-binary==2.9.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
scipy==1.13.0
six==1.16.0
soupsieve==2.5
tushare==1.4.1
urllib3==2.2.1
virtualenv==20.25.3
zipp==3.18.1
